
-memos_index = 0
-memos = current_user.get_weekly_memos(memos_index)

#pagenation
  .weekly_memos__button
    %button.button#prev-week prev
    %button.button#next-week next
  - 7.times do |i|
    - calendar_date = Time.current - (7 * memos_index + i + 1).day
    - calendar = calendar_date.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[calendar_date.wday]})")


    .weekly_memos
      %ul.weekly_memos__calendar
        %li= calendar_date.to_s(:monthdate).gsub(/^0|\/0/, "^0" => "", "\/0" => "/")
        %li.weekly_memos__calendar__week= calendar_date.strftime(%w(日 月 火 水 木 金 土)[calendar_date.wday])  
      %ul.weekly_memos__memo
        - memos["#{calendar}"]&.each do |memo|
          %li.weekly_memos__memo__line
            %p.smallfont= memo.memo
            = link_to new_note_path(memo) do
              = icon('fas', 'crown')