
- if user_signed_in?
  = current_user.name
  =link_to "ログアウト", destroy_user_session_path, class:"button",method: :DELETE
  - if @todays_memos.present?
    %p 編集
    = render partial: "form", locals: { memos: @todays_memos }
  - else
    %P 新規
    = render partial: "form", locals: { memos: @memos }
  = render partial: "weekly_memos"
  - @users.each do |user|
    = render "relationships/follow_button", user: user
-else
  =link_to "login", user_session_path, class:"button"
