!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WwdNote
    = include_gon
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'MemoIndex', 'data-turbolinks-track': 'reload', defer: true
    = javascript_pack_tag 'MemoIndexForm', 'data-turbolinks-track': 'reload', defer: true
    -# = javascript_pack_tag 'like_and_comment', 'data-turbolinks-track': 'reload', defer: true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css", :rel => "stylesheet"}
  %body
    = yield
    



